@tailwind base;
@tailwind components;
@tailwind utilities;

.vertival-line{
    border-left: 1px solid #000;
    height: 30px;
}

.btn{
    position: relative;
    display: inline-flex;
    height: 55px;
    width: 370px;
    border-radius: 10px;
    margin: 17px 0px;
    overflow: hidden;
    transition: all .4s;
  }
  .btn .inner{
    position: absolute;
    width: 300%;
    height: 100%;
    left: -100%;
    z-index: -1;
    transition: all .4s;
  }
  .btn button{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
  }
  .btn:hover{
    transform: scale(1.03);
  }
  .btn:hover .inner{
    left: 0;
  }
  .btn1 .inner{
    background: -webkit-linear-gradient(right, #b07373,#ec3b17,#f07272,#de3131);
  }

.caja{
  box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.5);
}

@media (max-width: 640px) {
  #root{
    width: 100vh;
  }
  .hijo{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  }
  .contenedor{
    margin-left: 30px;
  }
  .logo{
    display: none;
  }
  .vertival-line{
    display: none;
  }
  .destino{
    width: 300px;
  }
  .llegada,
  .salida,
  .viajeros,
  .tierra,
  .buscar{
    display: none;
  }
  .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .men-1{
    margin-left: 18px;
  }
  .men{
    display: none;
  }
  .home{
    width: 100vh;
    margin-left: 0px;
  }
  .casas{
    width: 550px;
    height: auto;
  }
  .datos{
    font-size: 35px;
    margin-top: 10px;
  }
  .star{
    width: 30px;
    height: 30px;
  }
  .datos-1{
    font-size: 30px;
  }
  .particular,
  .fecha{
    font-size: 25px;
    margin-top: 10px;
  }
  .precio{
    font-size: 30px;
  }
  .final{
    width: 80%;
    text-align: center;
  }
  footer{
    width: 100vh;
    --tw-bg-opacity: 1;
    background-color: rgb(241 245 249 / var(--tw-bg-opacity));
  }
  .pie{
    width: 100vh;
  }
  .pies{
    width: 100vh;
    padding-left: 1px;
    padding: 0;
  }
  .pie-2{
    display: none;
  }
  .pie-3{
    display: none;
  }
  .pie-4{
    width: 100vh;
  }
  .parte-1,
  .parte-2,
  .parte-3{
    width: 10rem;
    font-size: 20px;
  }
  .tit{
    font-weight: 700;
  }
  hr{
    display: none;
  }
  .sec-principal{
    margin-left: 70px;
  }
  .sec-1{
    width: 100vh;
    display: none;
  }
  .sec{
    width: 30rem;
  }
  .sec-casa{
    width: 100%;
    border-radius: 10px;
  }
  .lugar-1{
    margin-bottom: 5px;
  }
  .part-1{
    font-size: 20px;
  }
  .precio-1{
    font-size: 25px;
  }
  .sec-2{
    display: block;
    align-items: center;
    padding-left: 30px;
  }
  .secpart-1{
    margin-bottom: 70px;
  }
  .caja{
    width: 115%;
    height: 30rem;
  }
  .foot-principal{
    padding: 0;
  }
  .foot{
    margin: 0;
    padding: 0;
    padding-left: 20px;
  }
  .foot-1,
  .foot-2,
  .foot-3{
    width: 10rem;
    font-size: 20px;
    text-align: center;
  }
  .tit-1,
  .tit-2,
  .tit-3{
    font-weight: 700;
  }
  .fin{
    text-align: center;
  }
}